body {
    max-width: 1128px;
    padding: 0 156px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-left: 0;
    margin-left: 0;
}

.gallery-item {
    width: calc((100% - 48px) / 3);
}

.gallery-item:hover {
    transform: scale(1.1);
    transition: 200ms;
}

.gallery-image {
    width: 360px;
    height: 200px;
    object-fit: cover;
}

.sl-wrapper{
    background: rgba(46, 47, 66, 0.8);
}

.sl-wrapper .sl-navigation button.sl-next {
    color: #FFFFFF;
}

.sl-wrapper .sl-navigation button.sl-prev {
    color: #FFFFFF;
}

.sl-wrapper button.sl-close {
    color: #FFFFFF;
}

.sl-current{
    color: #FFFFFF;
}

.sl-total{
    color: #FFFFFF;
}
