/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./1-gallery.css');
@import url('./2-form.css');

ul{
  display: flex;
  gap: 180px;
  padding-top: 24px;
  margin-left: 300px;
}

.li-list{
font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.li-list:hover{
  color: #4e75ff;
  transition: 350ms;
}
.li-list:active {
  color: #4e75ff;
}